@{
    ViewBag.Title = "Home Page";
}

@*/////LIST OF ALL SALONS/////*@
<div id="list">
    <div id="header">
        <div class="col-lg-1 col-xs-1">
            <button><i class="fa fa-angle-left"></i></button>
        </div>
        <div class="col-lg-10 col-xs-10">
            <span>Hår</span>
        </div>
        <div class="col-lg-1 col-xs-1">
            <button><i class="fa fa-sliders"></i></button>
        </div>
    </div>
    <select id="myInput" onchange="priceRange(this.value)">
        <option value="0 - 250">Pris 0 - 249 kr</option>
        <option value="250 - 500">Pris 250 - 500 kr</option>
        <option value="501 - 750">Pris 501 - 750 kr</option>
        <option value="751 - 1000">Pris 751 - 1000 kr</option>
    </select>

    @*
        ///YOU WILL BE ABLE TO SEARCH FOR A SALON WITH A PRICE OF YOUR CHOICE IF YOU REMOVE THE COMMENT FROM THE INPUT
        OBS! COMMENT OUT THE SELECT TAG ABOVE THIS CODE///
    *@
    @*<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">*@

    <table id="myTable">
        <tr class="header">
            <th style="width:5%;"></th>
            <th style="width:90%;"></th>
            <th style="width: 5%"></th>
        </tr>
    </table>
</div>


@*//////LIST OF SELECTED SALON////////////*@
<div id="cList" style="display: none;">
    <div>
        <button onclick="backToList()"><i class="fa fa-angle-left"></i></button>
        <button style="float: right"><i class="fa fa-heart-o"></i></button>
        <div>
            <p id="companyName"></p>
            <p id="reviews"></p>
        </div>
    </div>
    <div class="col-lg-12">
        <button class="col-lg-6 col-xs-6" id="companyInfo" onclick="companySchema()">Info</button>
        <button class="col-lg-6 col-xs-6" id="companySchema" onclick="companyInfo()">Schema</button>
    </div>
    <ul></ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo, nunc at lacinia aliquam, nulla leo ullamcorper massa, at semper diam ex dignissim quam.</p>
</div>